a {
    color: green;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

h5 {
  color: green;
}

element.style {
  color: red;
}
/*
label{
  color:green;
}

.switch label{
  color: green;
}

.input-field label {
  color: green;
}*/